    .card {
      background-color: white;
      border-radius: 8px;
      display: flex;
      height: 300px;
      justify-content: center;
      scale: 1.0;
      transition: all 0.3s;
      width: 200px;

      &:hover {
        scale: 1.1;
      }

      .image-container {
        display: flex;
        height: 90%;
        margin-bottom: 20px;
        margin-top: 10px;
        object-fit: contain;
        width: 90%;
        
        .image{
          margin: auto;
          max-height: 100%;
          max-width: 100%;
        }
      }
    }