@use '../abstracts' as *;

* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  height: 100vh;
  place-items: center;
  width: 100vw;
}

.background-layer {
  background-color: $byO-color-white;
  object-fit: contain;
  position: absolute;
  z-index: 0;
}

#app {
  display: flex;
  height: 80vh;
  margin: auto;
  width: 80vw;
  z-index: 5;
}

.wrapper {
  display: flex;
  gap: 5px;
  height: 200px;
  margin: auto;
  place-items: center;
  position: relative;
  z-index: 3
}

.square {
  border: solid 1px black;
  border-radius: 2px;
  display: flex;
  height: 80px;
  place-items: center;
  transition: all 0.3s ease-in-out;
  width: 80px;

  &:not(.content) {
    cursor: pointer;
  }

  &:hover:not(.active) {
    height: 200px;
    width: 80px;
  }

  h3{
    color: $byO-color-white;
    margin: auto;
    text-align: center;
    text-shadow: 1px 1px 1px $byO-color-black;
  }
}

  .hidden {
    display: none;
  }

.content {
  height: 200px;
  position: absolute;
  z-index: 10;

  .wrapper {
    background-color: $byO-color-white-glass;
    display: flex;
    flex-direction: column;
    height: calc(100% - 20px);
    margin: 10px;
    width: calc(100% - 20px);
  }
}

.active {
  height: 80vh !important;
  transition: all 0.3s ease-in-out;
  width: 80vw;
}



.focus {
  border-radius: 6px;
  height: 200px;
  scale: 1.1;
}

.focus-sibling:not(.content) {
  border-radius: 4px;
  height: 140px;
  scale: 0.9;
}